@import '../../../main.scss';
@import "react-alice-carousel/lib/scss/alice-carousel.scss";

.main{
  overflow: hidden;
  .hero{
    display: flex;
    gap: 50px;
    align-items: center;
    padding: 20px 60px;
    width: 100%;
    margin: 0 auto;
    @include mobile-6{
      display: grid;
      justify-items: center;
      width: 80%;
      margin: 0 auto;
      padding: 20px 0
    }
    .hero-text{
      width: 40%;
      @include mobile-6{
        width: 100%;
      }
      h1{
        font-family: Helvetica;
        font-size: 60px;
        font-weight: 700;
        text-transform: capitalize;
        line-height: 72px;
        margin-bottom: 0;
        span{
          color: #5DBA47;
        }
        @include mobile-6{
          font-size: 36px;
          line-height: 50px;
        }
      }
      p{
        font-family: Helvetica;
        font-size: 24px;
        font-weight: 500;
        line-height: 36px;
        @include mobile-6{
          font-size: 18px;
          line-height: 24px;
        }
      }
      .download-btns{
        display: flex;
        gap: 5px;
        img{
          width: 40%;
          @include mobile-6{
            width: 100%;
            height: 70px;
          }
        }
        @include mobile-6{
          display: none;
        }
      }
      .download-mobile{
        display: none;
        @include mobile-6{
          display: block;
        }
      }
    }
    .hero-img{
      width: 60%;
      img{
        width: 80%;
      }
      @include mobile-6{
        width: 130%;
        margin: 0 auto;
      }
    }
  }
  .section-one{
    font-family: Helvetica-bold;
    h2{
      text-align: center;
      padding: 0 20px;
      font-size: 48px;
      line-height: 60px;
      font-weight: 700;
      color: #333;
      @include mobile-6{
        font-size: 30px;
        line-height: 42px;
      }
    }
    .section-one-instructions{
      display: flex;
      align-items: center;
      width: 90%;
      margin: 0 auto;
      justify-content: space-between;
      img{
        width: 544px;
        @include mobile-6{
          width: 100%;
        }
      }
      .section-one-text{
        width: 40%;
        p{
          border: 2px solid #8B4513;
          padding: 20px 10px;
          border-radius: 12px;
          font-size: 30px;
          font-family: Helvetica;
          line-height: 45px;
          font-weight: 500;
          color: #475467;
          @include mobile-6{
            font-size: 18px;
            line-height: 28px;
          }
        }
        @include mobile-6{
          width: 100%;
        }
      }
      @include mobile-6{
        display: grid;
        justify-items: center;
        width: 80%;
      }
    }
  }
  .section-two{
    font-family: Helvetica-bold;
    // width: 80%;
    // margin: 0 auto;
    .section-two-header{
      text-align: center;
      h2{
        font-size: 60px;
        line-height: 78px;
        font-weight: 700;
        margin-bottom: 0;
        color: #333;
        @include mobile-6{
          font-size: 30px;
          line-height: 42px;
        }
      }
      p{
        font-size: 24px;
        line-height: 36px;
        font-weight: 500;
        margin-top: 0;
        color: #475467;
        @include mobile-6{
          font-size: 18px;
          line-height: 28px;
        }
      }
    }
    .carousel{
      display: flex;
      justify-content: center;
      width: 100%;
      .carousel-card{
        width: 30%;
        text-align: center;
        line-height: 25px;
        padding: 20px 10px;
        margin-top: 30px;
        @include mobile-6{
          width: 100%;
        }
        h4{
          font-size: 32px;
          line-height: 48px;
          font-weight: 500;
          margin-bottom: 0;
          font-family: Helvetica-bold;
          color: #333;
          @include mobile-6{
            font-size: 28px;
            line-height: 38px;
            margin-top: 15px;
          }
        }
        p{
          font-size: 24px;
          line-height: 36px;
          color: #475467;
          margin-bottom: 0;
          @include mobile-6{
            font-size: 18px;
            line-height: 28px;
          }
        }
        svg{
          margin-top: 20px;
        }
      }
      .carousel-card:hover{
        box-shadow: 0px 8px 16px 0px rgba(18, 18, 18, 0.15);
      }
      @include mobile-6{
        display: grid;
        justify-items: center;
      }
    }
    @include mobile-6{
      padding: 0 20px;
    }
  }
  .section-three{
    font-family: Helvetica-bold;
    margin-top: 20px;
    .section-three-header{
      text-align: center;
      @include mobile-6{
        padding: 0 20px;
      }
      h2{
        color: #333;
        font-size: 48px;
        line-height: 60px;
        margin-bottom: 0;
        font-weight: 700;
        @include mobile-6{
          font-size: 30px;
          line-height: 38px;
        }
      }
      p{
        font-size: 24px;
        line-height: 36px;
        color: #475467;
        margin-top: 5px;
        font-weight: 500;
        @include mobile-6{
          font-size: 18px;
          line-height: 28px;
        }
      }
    }
    .faq-section{
      width: 50%;
      margin: 50px auto;
      .faq{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        h4{
          color:#475467;
          font-size: 18px;
          line-height: 28px;
          margin-bottom: 0;
          font-weight: 700;
        }
        p{
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          color: #333;
          font-family: Helvetica-light;
        }
        .faq-icon{
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 720px;
          svg{
            width: 24px;
            height: 24px;
           
            @include mobile-6{
            width: 24px;
            height: 24px; 
            }
          }
          @include mobile-6{
            width: 100%;
          }
          @include mobile-7{
            
          }
        }
      }
      @include mobile-6{
        width: 80%;
        margin-top: 20px;
      }
    }
    .faq-border{
      border-bottom: 1px solid #475467;
    }
  }
}
