$xs: '400px'; // for small screen mobile
$sm: '600px'; // for mobile screen
$md: '900px'; // for tablets
$lg: '1280px'; // for laptops
$xl: '1440px'; // for desktop / monitors
$xxl: '1920px'; // for big screens

/* $mobile-1: 1100px;
$mobile-2: 1024px;
$mobile-3: 900px;
$mobile-4: 800px;
$mobile-5: 700px;
$mobile-6: 600px;
$mobile-7: 550px;
$mobile-8: 420px;
$mobile-9: 320px;
$mobile-10: 280px; */
@mixin xxl {
  @media (max-width: $xxl) {
    @content;
  }
}
@mixin xl {
  @media (max-width: $xl) {
    @content;
  }
}
@mixin lg {
  @media (max-width: $lg) {
    @content;
  }
}
@mixin md {
  @media (max-width: $md) {
    @content;
  }
}
@mixin sm {
  @media (max-width: $sm) {
    @content;
  }
}
@mixin xs {
  @media (max-width: $xs) {
    @content;
  }
}






@font-face {
  font-family: 'avenir';
  src: url(././fonts/Avenir-Medium.ttf);
}

@font-face {
  font-family: 'helvetica-bold';
  src: url(././fonts/HelveticaNeue-Medium.otf);
}

@font-face {
  font-family: 'helvetica-light';
  src: url(././fonts/HelveticaNeueLight.ttf);
}

@font-face {
  font-family: 'helvetica-medium';
  src: url(././fonts/HelveticaNeueLight.ttf);
}


@mixin Helvetica-bold{
  font-family: 'helvetica-bold';
}

@mixin Avenir{
  font-family: 'avenir';
}

@mixin Helvetica-light{
  font-family: 'helvetica-light'
}

@mixin Helvetica-mid{
  font-family: 'helvetica-medium'
}